---
import {Content as Resume} from './resume.md';
---

<html>
  <head>
    <title>Kristofor Erickson - Engineering Leader</title>
  </head>
  <body style="background: #dadada;">
    <div style="background: #fff; width:75%; margin: 0 auto; padding-top: 20px; border: 1px solid #dadada; box-shadow: 7px 6px 10px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 7px 6px 10px 0px rgba(0,0,0,0.75);-moz-box-shadow: 7px 6px 10px 0px rgba(0,0,0,0.75);border-radius: 3px;">
        <div style="padding: 30px;">
            <Resume />
        </div>
    </div>
  </body>
</html>